.main {
  background-color: $yellow;
  padding: 28px 12px 32px;
  @include media(m){
    padding: 40px 0 80px;
  }
  &__inner{
    background-color: $white;
    padding: 28px 12px;
    @include media(m){
      width: 960px;
      margin: 0 auto;
      padding: 40px 120px 64px;
    }
  }
}